<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
  <head>
    <title>pentamedia{{title|default("")}}</title>
    <link href="/comments.atom" type="application/atom+xml" rel="alternate" title="Comments Feed" />
    <link rel="SHORTCUT ICON" href="/img/c3d2.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% set csss = csss|default([]) %}
{% if css is defined %}
  {% if css not in csss %}
    {% do csss.append(css) %}
  {% endif %}
{% endif %}
{% for css_file in csss %}
    <link rel="stylesheet" title="Default" type="text/css" href="/css/{{css_file}}.css" />
{% endfor %}
  </head>
  <body>

    <div id="Container">
        <div id="Splash">

<div id="logo"><a href="/" alt="Pentamedia"><img src="/img/pentamedia_text.png" alt="Pentamedia" /></a></div>

<div class="pentastar">
{% for episode in episodes.pentaradio %}<div class="file"><a href="/pentaradio/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/pentaradio" alt="Pentaradio"><img src="/img/pentaradio_text.png" alt="Pentaradio" /></a></div>
</div>
<div class="pentastar">
{% for episode in episodes.pentacast %}<div class="file"><a href="/pentacast/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/pentacast" alt="Pentacast"><img src="/img/pentacast_text.png" alt="Pentacast" /></a></div>

</div>
<div class="pentastar">
{% for episode in episodes.pentamusic %}<div class="file"><a href="/pentamusic/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/pentamusic" alt="Pentamusic"><img src="/img/pentamusic_text.png" alt="Pentamusic" /></a></div>

</div>

        </div>
    </div>

<div style="position:absolute;right:3px;bottom:3px;"><small><a href="/comments.atom">Atom</a></small></div>

  </body>
</html>
