<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
  <head>
    <title>pentamedia{{title|default("")}}</title>
    <link rel="SHORTCUT ICON" href="/s/c3d2.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% set csss = csss|default([]) %}
{% if css is defined %}
  {% if css not in csss %}
    {% do csss.append(css) %}
  {% endif %}
{% endif %}
{% for css_file in csss %}
    <link rel="stylesheet" title="Default" type="text/css" href="/s/{{css_file}}.css" />
{% endfor %}
  </head>
  <body>
  
    <div id="Container">
        <div id="Splash">
   
<div id="logo"><a href="/" alt="Pentamedia"><img src="/s/pentamedia.png" alt="Pentamedia" /></a></div> 
       
<div class="pentastar">
{% for episode in episodes.radio %}<div class="file"><a href="/radio/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/radio" alt="Pentaradio"><img src="/s/pentaradio.png" alt="Pentaradio" /></a></div>
</div>
<div class="pentastar">
{% for episode in episodes.cast %}<div class="file"><a href="/cast/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/cast" alt="Pentacast"><img src="/s/pentacast.png" alt="Pentacast" /></a></div>

</div>
<div class="pentastar">
{% for episode in episodes.music %}<div class="file"><a href="/music/{{episode.link}}">{{episode.name}}</div>{% endfor %}
<div class="title"><a href="/music" alt="Pentamusic"><img src="/s/pentamusic.png" alt="Pentamusic" /></a></div>

</div>
        
        </div>
    </div>
  
  </body>
</html>
